name: Build And Release Snail

on:
  push:
    branches:
      - main

jobs:
  build_release:
    runs-on: macos-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Application and DMG
        run: |
          make dmg

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          files: build/Snail.dmg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
